# 라이브러리 임포트

In [17]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for i, filename in enumerate(filenames):
#         print(f'\r{os.path.join(dirname, filename)}',end='\t\t')
        

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# 데이터 분석

In [18]:
train_df = pd.read_csv('../input/tensorflow-great-barrier-reef/train.csv')
test_df = pd.read_csv('../input/tensorflow-great-barrier-reef/test.csv')

In [35]:
train_df

       video_id  sequence  video_frame  sequence_frame image_id annotations
0             0     40258            0               0      0-0          []
1             0     40258            1               1      0-1          []
2             0     40258            2               2      0-2          []
3             0     40258            3               3      0-3          []
4             0     40258            4               4      0-4          []
...         ...       ...          ...             ...      ...         ...
23496         2     29859        10755            2983  2-10755          []
23497         2     29859        10756            2984  2-10756          []
23498         2     29859        10757            2985  2-10757          []
23499         2     29859        10758            2986  2-10758          []
23500         2     29859        10759            2987  2-10759          []

[23501 rows x 6 columns]

In [19]:
train_df.describe()

           video_id      sequence   video_frame  sequence_frame
count  23501.000000  23501.000000  23501.000000    23501.000000
mean       1.078848  33181.644994   5727.471257      974.231224
std        0.802202  18804.050915   3528.411913      795.594611
min        0.000000    996.000000      0.000000        0.000000
25%        0.000000  15827.000000   2349.000000      336.000000
50%        1.000000  29859.000000   5553.000000      740.000000
75%        2.000000  45518.000000   9048.000000     1447.000000
max        2.000000  60754.000000  12347.000000     2987.000000

In [20]:
train_df.describe(include='O')

       image_id annotations
count     23501       23501
unique    23501        4914
top         0-0          []
freq          1       18582

In [54]:
starfish_df = train_df[train_df['annotations'].apply(lambda x: len(x) > 2)]    # 이거 왜 2임???
starfish_df.describe()

          video_id      sequence   video_frame  sequence_frame
count  4919.000000   4919.000000   4919.000000     4919.000000
mean      0.701972  30244.066680   6121.658874      720.886969
std       0.696107  21800.553873   3065.841665      559.946970
min       0.000000    996.000000     16.000000        0.000000
25%       0.000000   8503.000000   4486.000000      339.000000
50%       1.000000  22643.000000   5721.000000      627.000000
75%       1.000000  53708.000000   9072.500000      960.500000
max       2.000000  60754.000000  12318.000000     2860.000000